---
import Meta from '@/components/Meta.astro'
// import { Image } from 'astro:assets'

import iconLogo from '@assets/scooter/logo.svg'
import iconPlay from '@assets/scooter/play button.svg'
import iconArrow from '@assets/scooter/arrow.svg'
import iconArrow2 from '@assets/scooter/arrow2.svg'
import imgScooty from '@assets/scooter/scooty.png'
import imgScooty2 from '@assets/scooter/scooty2.png'
import imgScooty3 from '@assets/scooter/scooty3.png'
import { Image } from 'astro:assets'

const features = [
	{
		value: 105,
		unit: 'lbs',
		label: 'Net Weight',
	},
	{
		value: 26,
		unit: 'mph',
		label: 'Top Speed',
	},
	{
		value: 38,
		unit: 'miles',
		label: 'Max Range',
	},
	{
		value: 89,
		unit: 'nm',
		label: 'Max Torques',
	},
	{
		value: '22%',
		unit: 'slope',
		label: 'Hill Climbing',
	},
	{
		value: '2x',
		unit: '',
		label: 'Hydralic Disc Brakes',
	},
]

const productInfo = [
	'Lightweight aircraft grade aluminium frame',
	'Car grade lithium battery',
	'Self-balanced',
	'Plug n play',
	'Quick release adapter',
	'RFID key card',
]
---

<!DOCTYPE html>
<html lang="en" class="font-[Ubuntu,'sans-serif']">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<Meta
			title="E-Scooter | demo landing page"
			description="idk goodest e scooters and such things"
		/>
	</head>
	<body class="flex flex-col gap-16 overflow-x-hidden text-sgray-200">
		<section class="__nav w-full border-b-[1px] h-[100px] border-sgray-700">
			<nav
				id="top"
				class="w-[1440px] mx-auto px-[50px] h-full py-6 flex flex-row items-center justify-between"
			>
				<a href="#top" class="w-[69px]"><img src={iconLogo.src} alt="e-scooter logo" /></a>
				<ul class="flex gap-8 uppercase">
					<li>
						<a
							class="inline-block p-4 transition-transform duration-100 hover:-translate-y-2"
							href="#products">Products</a
						>
					</li>
					<li>
						<a
							class="inline-block p-4 transition-transform duration-100 hover:-translate-y-2"
							href="#gallery">Gallery</a
						>
					</li>
					<li>
						<a
							class="inline-block p-4 transition-transform duration-100 hover:-translate-y-2"
							href="#contact">Contact</a
						>
					</li>
				</ul>
				<div class="flex space-x-3.5">
					<button class="transition duration-100 shadow-sm rounded py-4 px-7 uppercase hover:shadow"
						>Sign in</button
					>
					<button
						class="transition duration-100 shadow-sm rounded py-4 px-7 uppercase bg-sgray-200 text-sgray-900 hover:bg-sgray-100 hover:shadow"
						>Sign up</button
					>
				</div>
			</nav>
		</section>

		<section
			class="__hero w-[1440px] h-[806px] mx-auto px-[50px] py-12 gap-8 relative flex flex-col"
		>
			<h1 class="flex flex-col text-[90px] uppercase leading-[95px]">
				<span class="font-light">Let's ride</span>
				<span class="font-bold">the future.</span>
			</h1>
			<span class="block w-48 border-b-2 border-sgray-200"></span>
			<p class="text-lg">Simple and sleek design with users in mind.</p>

			<div class="flex flex-row gap-8 items-center mt-auto">
				<button class="flex flex-rowitems-center group shadow-sm hover:shadow">
					<span
						class="flex justify-center w-[58px] h-[58px] transition bg-sgray-200 group-hover:bg-sgray-100"
					>
						<img
							class="inline-block transition -translate-x-1 group-hover:translate-x-0"
							src={iconArrow.src}
							width="24"
							alt="buy now icon"
						/>
					</span>
					<span class="px-6 py-3 text-xl leading-none">Buy now</span>
				</button>
				<button class="flex gap-5">
					<span class="line-clamp-3 w-[5em] text-lg leading-6 font-medium text-justify"
						>Watch our video how it works</span
					>
					<img src={iconPlay.src} alt="play icon" />
				</button>

				<div class="flex flex-row gap-8 ml-auto items-center">
					<span class="font-[Calistoga,serif] text-[150px] leading-none">01</span>
					<div class="flex flex-row gap-0 border-collapse">
						<button class="block px-6 py-4 rounded-s-full border border-collapse border-sgray-100"
							><img
								class="h-3 rotate-180"
								src={iconArrow2.src}
								alt="navigate arrow left prev"
							/></button
						>
						<button class="block px-6 py-4 rounded-e-full border border-collapse border-sgray-100"
							><img class="h-3" src={iconArrow2.src} alt="navigate arrow right next" /></button
						>
					</div>
				</div>
			</div>

			<aside class="absolute -right-[100px] -top-12">
				<div
					class="absolute -right-36 top-8 rounded-full rounded-r-none bg-sgray-500 w-[512px] h-[512px] -z-10"
				>
				</div>
				<Image src={imgScooty} alt="scooter image" />
			</aside>
		</section>

		<section class="__features w-[1440px] mx-auto px-[50px] flex flex-row justify-between">
			{
				features.map((f) => (
					<h3 class="flex flex-col basis-[14%] leading-none shadow-[0_10px_24px_rgba(0,0,0,0.06)] py-7 px-7 rounded-lg text-sgray-200 items-center">
						<span class="font-bold">
							<span class="text-4xl">{f.value}</span>
							<span>{f.unit}</span>
						</span>
						<span class="text-sm mt-4">{f.label}</span>
					</h3>
				))
			}
		</section>

		<section class="__product w-[1440px] mx-auto px-[50px] flex flex-col gap-36 items-between relative">
			<aside class="w-full flex flex-col gap-8 items-center">
				<h2 class="text-5xl font-bold text-sgray-200">Product Information</h2>
				<p class="text-xl">Our Scooter has following unique design and technology features:</p>
			</aside>
			<main class="flex flex-row">

			<div class="mr-auto -mt-32 -ml-[50px]">
				<Image src={imgScooty2} alt="scooter product info showcase" />
			</div>
				<ul class="flex flex-col gap-8">
					{
						productInfo.map((pi) => (
							<li class="bg-[url('scooter/list-mark.svg')] bg-no-repeat bg-contain leading-9 pl-10">
								{pi}
							</li>
						))
					}
				</ul>
			</main>
		</section>

		<section class="__feature w-[1440px] mx-auto px-[50px] flex flex-col gap-8 items-center">
			<h2 class="text-5xl">High Efficiency Motor</h2>
			<p class="text-xl">More torque for powerful riding with 22% maximum hill climbing capability.</p>
			<Image class="-mt-8 -mx-16" src={imgScooty3} alt="high efficiency motor dissasembled view"/>
		</section>

		<footer class="h-32 bg-gray-500 w-full"></footer>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Calistoga&family=Ubuntu:wght@300;400;500;700&display=swap"
			rel="stylesheet"
		/>
	</body>
</html>
